extends layout

block content
    div(class= `card ${cardClass}`)
        h3.title WORK Insurance Co
        div.info-row.name-row
            p.label Name:
            p #{firstName} #{lastName}
        div.info-container
            div.info-row
                p.label Insurance Type:
                p #{type}
            div.info-row
                p.label D0B:
                p #{dateOfBirth.getMonth()+1}/#{dateOfBirth.getDate()}/#{dateOfBirth.getFullYear()}
        div.info-row
            div
                p.label Address:

            div.address-text
                p #{addressLine1}
                p #{addressLine2}
                p #{city}, #{state}, #{zip}
        div.info-container
            div.info-row
                p.label Acct #:
                p #{accountNumber}
            div.info-row
                p.label Exp.:

                p #{currentDate.getMonth() - 5}/#{currentDate.getDate() - 14}/#{currentDate.getFullYear() + 4}

                p.label Start Date.:

                p #{currentDate.getMonth() - 4}/#{currentDate.getDate() - 15}/#{currentDate.getFullYear() - 13}




    a(href='/')
        button(type="button") Back